<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tecchirping</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <a href="/signup">Signup</a>
      <a href="/login">Login</a>
      <a href="/profile">Profile</a>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer><h2>This is the footer</h2></footer>
  </body>
</html>