

<form class = "form" id="loginForm">
    <h1>Login</h1>
    <input type="text" id="loginEmail" placeholder="email">
    <input type="password" id="loginPassword" >
    <button>Login</button>
</form>

<script src="/js/login.js"></script>