<h1>Welcome back, {{email}}!</h1>
<h2>Add a chirp</h2>
<form id="new-chirp-form">
    <textarea id="chirp-input"></textarea>
    <button>Chirp!</button>
</form>
<h2>my chirps</h2>
{{#each Chirps}}
    <section class="chirp-box">
    <p>  text: {{chirp}}</p>
</section>
{{/each}}

<script src="/js/profile.js"></script>