
<form class="add-chirp" id="update-chirp-form">
  <h2>Update a chirp</h2>
  <br/>
  <textarea name={{id}} id="chirp-input">{{chirp}}</textarea>
  <button id="update-btn">Chirp!</button>
</form>

<script src="/js/update.js"></script>
