*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    /* font-family: sans-serif; */
    font-family: 'Quicksand', sans-serif;
}

header{
    height:max-content;
    text-align: center;
    border-bottom: 3px solid #023047
}

header h1{
    padding:0.5em;
    color:#023047;
    font-size:300%;
}

header div{

    display: flex;
    justify-content: space-around;
    color:#023047;
}

div >a {
    padding: 1em 1em 0 1em;
    margin:1em;
    font-size:1em;
    transition:0.5s;
}

main {
    min-height: 70vh;
}

.form{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
        color:#023047;
    padding:1em;

    margin-left: 30%;
    margin-right: 30%;
    /* width: max-content; */
}

.form input{
    padding:1em;
    width: 60%;
    margin:1em;
}

.form button{
        margin:1em;
    padding:1em;
    width:30%;
        color:#023047;
        border-radius: 1em;
}

div >a:hover{
    border-bottom: 5px solid #FFB703;
}

.form:hover,:active{
        background-color:  hsl(206, 14%, 90%);
}

.form button:hover,:active{
    background-color: #023047;
    color: #ffff;
}